{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {#    this is font-awesome icon #}
    <script src="https://kit.fontawesome.com/88a4455533.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {#    to MAKE A FAVICION #}
    <link rel='shortcut icon' href='{% static 'mysite/images/logo.png' %}' type='image/x-icon'/>
    <title>Sudhanshu | Portfolio</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'mysite/images/logo.png' %}" width="100" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}"><h6>Home</h6><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}"><h6>Portfolio</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><h6>Contact</h6></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.facebook.com/sudhanshu.kumaf.5" target="_blank">
                        <!--ICON HERE -->
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.github.com/sd8917" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/sudhanshuraj89/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/sudhanshu-kumar-736553166" target="_blank">
                        <i class="fab fa-linkedin"></i>

                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCI-ze1TGhm5eng94l1s8y_Q?view_as=subscriber" target="_blank">
                        <i class="fab fa-youtube" style=" size: 7px"></i>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<!-- body content goes here -->

{% block content %}

{% endblock %}

<!-- Footer -->
<div style="margin-top: 100px;background-color: black;color: azure">
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-5 mt-md-0 mt-4">

                    <!-- Content -->
                    <div class="container" style="margin-left: 320px">
                        <h5 class="text-uppercase font-weight-bold">Hello !! <i class="fas fa-user"></i></h5>
                        <a href="{% static 'mysite/images/mypic.jpeg' %}" target="_blank">
                            <img src="{% static 'mysite/images/myprofile.png' %}" width="120" height="130" alt=""
                                 style="margin-top: 10px">
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-4 mb-md-2 mb-5">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">About Me</h5>
                    <p>This is <span style="color: red">SUDHANSHU KUMAR</span> ,a python developer start to study B.TECH
                        course at <a href="http://www.uietmdu.com/" target="_blank"> University Of Institute of
                            Engineering and Technology ,MDU Rohatk.</a>
                        Currently I am in second year on APRIL 2019.This is website made by me fully based on the django
                        frame work.
                        I had also worked as front-end developer.
                        <a href="{% static 'mysite/images/RESUME.pdf' %}" target="_blank">Chechout My Resume.</a></p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> sudhanshuraj8917@gmail.com</a>
        </div>
        <!-- Copyright -->

    </footer>
</div>
<!-- Footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>